<div id="chat-container">
    <div id="back-to-inbox">
        <a href="/inbox" class="icon">
            <i class="fa-sharp fa-solid fa-left-long"></i>
        </a>
    </div>
    <div id="message-list">
        <div class="message">
            <img src="img/default-avatar.png" alt="Avatar" class="avatar-message">
            <div class="message-content">Hello!</div>
        </div>
        <div class="message sender">
            <div class="message-content">Hi there!</div>
            <img src="img/default-avatar.png" alt="Avatar" class="avatar-message">
        </div>
        <div class="message">
            <img src="img/default-avatar.png" alt="Avatar" class="avatar-message">
            <div class="message-content">How are you?</div>
        </div>
    </div>
    <div id="message-input">
        <input type="text" id="input-text" placeholder="Type your message">
        <button id="send-button">Send</button>
    </div>
</div>