<div id="list-friend">
    <h1>My Friends</h1>
    <ul class="friend-list">
        <li>
            <div class="friend">
                <img src="img/default-avatar.png" alt="Friend 1">
                <div class="friend-info">
                    <h3>John Doe</h3>
                    <p>Software Engineer</p>
                </div>
            </div>
        </li>
        <li>
            <div class="friend">
                <img src="img/default-avatar.png" alt="Friend 2">
                <div class="friend-info">
                    <h3>Jane Smith</h3>
                    <p>Designer</p>
                </div>
            </div>
        </li>
        <!-- Add more friends here -->
    </ul>
</div>