<div class="container-login">
    <div class="card">
        <h2>Create an Account</h2>
        <form id="register-form">
            <div class="input-container">
                <input type="text" id="register-username">
                <label for="register-username">Username</label>
            </div>
            <div class="input-container">
                <input type="password" id="register-password">
                <label for="register-password">Password</label>
            </div>
            <div class="input-container">
                <input type="text" id="register-name">
                <label for="register-name">Full Name</label>
            </div>
            <div class="input-container">
                <input type="email" id="register-email">
                <label for="register-email">Email</label>
            </div>
            <button type="submit">Register</button>
            <p id="register-error" class="error-message"></p>
        </form>
        <p class="login-link">Already have an account? <a href="login.html">Login here</a></p>
    </div>
</div>