<div class="container-send-request">
    <div class="send-request">
        <h1 class="text-center mb-4">Send Friend Request</h1>
        <p id="send-request-error" class="text-danger text-center"></p>
        <form id="send-request-form" method="post">
            <div>
                <label for="username" class="label-send-request">Username</label>
                <input type="text" id="username" name="username" class="input-send-request">
            </div>
            <div>
                <label for="message" class="label-send-request">Message:</label>
                <textarea id="message" name="message" class="input-send-request"></textarea>
            </div>
            <button type="submit" class="btn-send-request">Send Request</button>
        </form>
    </div>
</div>