.container-send-request {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  border: solid 1px #fff;
  margin: 5px 0; }

.send-request {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.label-send-request {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold; }

.input-send-request {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.btn-send-request {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .btn-send-request:hover {
    background-color: #45a049; }
