<header class="border-bottom bg-light header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none me-lg-3">
                <img src="/img/logo.png" alt="Logo" width="50px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto my-3 my-lg-0 justify-content-center fw-bold">
                <li><a href="/" class="nav-link px-3 link-dark">Home</a></li>
                <li><a href="/inbox" class="nav-link px-3 link-dark">My Inbox</a></li>
                <li><a href="/send-request" class="nav-link px-3 link-dark">Send Friend Request</a></li>
                <li><a href="/list-request" class="nav-link px-3 link-dark">Friend Request List</a></li>
                <li><a href="/list-friend" class="nav-link px-3 link-dark">List Friend</a></li>
            </ul>

            <div class="dropdown text-end d-flex">
                {{#if user }}
                <div>
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.avatar}}
                        <img src="{{ user.avatar }}" alt="mdo" width="32" height="32" class="rounded-circle">
                        {{else}}
                        <img src="/img/default-avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" href="#">Hi, {{ user.username }}</a></li>
                        <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="sign-out">Sign out</a></li>
                    </ul>
                </div>
                {{else}}
                <a href="/login" class="btn-login me-2" role="button">
                    Login
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </a>
                <a href="/register" class="btn-signup" role="button">
                    Sign up
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</header>