<main id="home-page">
    <section class="hero">
        <div class="hero-content">
            <h2>Connect and Chat</h2>
            <p>Join the conversation with friends and colleagues.</p>
            <a href="/login" class="btn-homepage">Get Started</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <i class="fa-solid fa-comments"></i>
            <h3>Real-time Messaging</h3>
            <p>Chat instantly with your contacts in real-time.</p>
        </div>

        <div class="feature">
            <i class="fa-solid fa-users"></i>
            <h3>Group Chats</h3>
            <p>Create or join group chats for collaborative discussions.</p>
        </div>

        <div class="feature">
            <i class="fa-solid fa-computer"></i>
            <h3>Web App</h3>
            <p>Access your chats on the go with our web app.</p>
        </div>
    </section>
</main>