<main role="main" class="pb-3" id="profile">
    <section id="main-profile" class="my-3">
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="img/default-avatar.png" alt="Profile" class="rounded-circle">
                            <h2>Quang Nguyen Duy</h2>
                            <div class="social-links mt-2">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">
                                        Overview
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                        Edit
                                        Profile
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-change-password">Change Password</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <h5 class="card-title">About</h5>
                                    <p class="small fst-italic">
                                        Sunt est soluta temporibus accusantium neque nam maiores cumque
                                        temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt
                                        iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed
                                        ea saepe at unde.
                                    </p>

                                    <h5 class="card-title">Profile Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">First Name</div>
                                        <div class="col-lg-9 col-md-8">Quang</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Last Name</div>
                                        <div class="col-lg-9 col-md-8">Nguyen Duy</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Female</div>
                                        <div class="col-lg-9 col-md-8">Male</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Birthday</div>
                                        <div class="col-lg-9 col-md-8">August 05 2002</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Address</div>
                                        <div class="col-lg-9 col-md-8">Long Ho, Vinh Long</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Phone</div>
                                        <div class="col-lg-9 col-md-8">0916843367</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">quangndgcc200030@fpt.edu.vn</div>
                                    </div>

                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <!-- Profile Edit Form -->
                                    <form id="profile-form" method="post" enctype="multipart/form-data">
                                        <div class="row mb-3">
                                            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">
                                                Profile
                                                Image
                                            </label>
                                            <div class="col-md-8 col-lg-9">
                                                <img src="img/default-avatar.png" alt="Profile">
                                                <div class="pt-2">
                                                    <input class="btn btn-primary btn-sm" type="file"
                                                        id="Input_ImageFile" name="Input.ImageFile" />
                                                    <a class="btn btn-danger btn-sm" title="Remove my profile image"><i
                                                            class="bi bi-trash"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label" for="Input_FirstName">First
                                                Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" type="text" name="firstName"
                                                    value="Quang" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label" for="Input_LastName">Last
                                                Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" type="text" name="lastName"
                                                    value="Nguyen Duy" />
                                            </div>
                                        </div>

                                        <fieldset class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label">Gender</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gender" />
                                                    <label class="form-check-label" for="maleGender">
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gender" />
                                                    <label class="form-check-label" for="femaleGender">
                                                        Female
                                                    </label>
                                                </div>
                                                <span class="text-danger field-validation-valid"
                                                    data-valmsg-for="Input.Gender" data-valmsg-replace="true"></span>
                                            </div>
                                        </fieldset>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label"
                                                for="Input_Birthday">Birthday</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input type="date" class="form-control" data-val="true"
                                                    data-val-required="Please choose your birthday!" id="Input_Birthday"
                                                    name="Input.Birthday" value="2003-03-09">
                                                <span class="text-danger field-validation-valid"
                                                    data-valmsg-for="Input.Birthday" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label"
                                                for="Input_Address">Address</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" type="text" data-val="true"
                                                    data-val-maxlength="Address must be lesser than 100 character!"
                                                    data-val-maxlength-max="100"
                                                    data-val-minlength="Address must be more than 10 character!"
                                                    data-val-minlength-min="10"
                                                    data-val-required="Address can not empty!" id="Input_Address"
                                                    maxlength="100" name="Input.Address" value="Tan Hanh, Vinh Long" />
                                                <span class="text-danger field-validation-valid"
                                                    data-valmsg-for="Input.Address" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label"
                                                for="Input_PhoneNumber">Phone number</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" type="tel" data-val="true"
                                                    data-val-phone="The Phone number field is not a valid phone number."
                                                    id="Input_PhoneNumber" name="Input.PhoneNumber"
                                                    value="0843630939" />
                                                <span class="text-danger field-validation-valid"
                                                    data-valmsg-for="Input.PhoneNumber"
                                                    data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label"
                                                for="Input_Email">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" readonly type="email" data-val="true"
                                                    data-val-email="The Email field is not a valid e-mail address."
                                                    data-val-required="The Email field is required." id="Input_Email"
                                                    name="Input.Email" value="trannqgcc210042@fpt.edu.vn" />
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button id="update-profile-button" type="submit"
                                                class="btn btn-primary">Save Changes</button>
                                        </div>
                                        <input name="__RequestVerificationToken" type="hidden"
                                            value="CfDJ8Pblz1yTy8JFi37vb1hMMaMPYmpTEAzbNqAm4FfdpptaQL7zEehYDP_UBbxcvXszQwr1iJ7SR4yihc3_wahKqVBUOVwPpa82mz8Yy79HcKcr-pG_EBvStnUT6jeqQXg8QB2uBvhdTovCd6u9WZ44n9bzIxY42gCCEzwDM9u8mfrBS5dv88lOF21CV29PQZId0w" />
                                    </form>
                                    <!-- End Profile Edit Form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="currentPassword"
                                                class="col-md-4 col-lg-3 col-form-label">Current
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="password" type="password" class="form-control"
                                                    id="currentPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="newpassword" type="password" class="form-control"
                                                    id="newPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter
                                                New
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="renewpassword" type="password" class="form-control"
                                                    id="renewPassword">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Change
                                                Password</button>
                                        </div>
                                    </form><!-- End Change Password Form -->

                                </div>
                            </div>
                            <!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </section>
    <!-- End #main -->
</main>